/********* PRODUCT PAGE CSS ***********/



/**************** RESET ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************** BODY ****************/
body {
    font-family:'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #282828;
}


/**************** TEXT ****************/
h1 {
    /* Make text color white */
    color: #fff;
}

h2 {
    /* Make text color white */
    color: #fff;
}

h3 {
    /* Make text color white */
    color: #fff;    
}

p {
    /* Make text color white */
    color: #fff;    
}


/********** PRODUCT NAVBAR *********/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #282828;
}

li {
    border-top: 1px dotted #555;
}

li a{
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
    background-color: #3B3B3B;
    color: #fff;
}

li:last-child {
    border-bottom: 1px dotted #555;
}

a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    font-style: italic;
    text-transform: capitalize;
}

a span {
    font-size: 0.8rem;
    color: #888;
    align-items: right;
}