<!DOCTYPE html>
<html lang="en">
<!-- Head -->    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Link to Stylesheet for Products Page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='products.css') }}">
    <!-- Google Font - Fira Code added to the page -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <title>Products</title>
</head>
<!-- Head End -->
<!-- Start Body -->
<body>

    <!-- Header -->
    <header> 
    </header>

    <!-- Off Screen Menu -->
     <div class="off-screen-menu">
        <ul>
            <li>Home</li>
            <li>Products</li>
        </ul>
     </div>

    <!-- Navbar -->
    <nav>

        <div class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </nav>
    <div class="container">
    <!-- Products Sidebar -->        
        <aside>
            <!-- Products Menu - Placeholder Page Links for now -->    <!-- Side note: Thinking about changing to buttons -->
            <ul>
                <li><a href="#placeholder">RAM <span>&gt;</span></a></li>
                <li><a href="#placeholder">CASES <span>&gt;</span></a></li>
                <li><a href="#placeholder">CPU/GPU <span>&gt;</span></a></li>
                <li><a href="#placeholder">OTHER COMPONENTS <span>&gt;</span></a></li>
                <li><a href="#placeholder">PERIPHREALS <span>&gt;</span></a></li>
                <li><a href="#placeholder">MONITORS <span>&gt;</span></a></li>
            </ul>
        </aside>
        <section>
            <!-- Rest of Page Content - Products View ETC -->
        </section>
        <!-- Footer -->    
        <footer>
        </footer>
        <!-- Footer End -->
    </div>
</body>

</html>